#convert{
    background-color: #1c386e;
  }
  #clear{
    background-color: #cc0707; 
  }
  #convert:hover {
    background-color: #bcc768;
  }
  h1 {
    font-family: sans-serif;
    color: #f810be;
    text-align: center;
  }
  input {
    margin: auto;
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #201a15;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: rgb(19, 15, 15);
  }
  :-moz-placeholder { 
     color: rgb(22, 22, 22);  
  }
  ::-moz-placeholder {  
     color: rgb(20, 17, 17);  
  }
  :-ms-input-placeholder {  
     color: rgb(19, 15, 15);  
  }
  button {
    margin: auto;
    display: block;
    padding: 10px;
    font-size: 1.2em;
    color: #dccfcf;
  }

  *{
    background-color: #f7efa8;
  }